/*********************css reset*********************/
*{
  margin: 0;
  padding: 0;
}

html, .content, .page, .page_box {
  width: 100%;
  height: 100%;
}

body {
  font-family: JDJZONGYI, Helvetica, 'STXihei', 'STHeiti Light', sans-serif;
  line-height: 1;
  height: 100%;
}
.loading{
  /*display: none;*/
  position: fixed;
  height: 100%;
  width: 100%;
  background: #174559;
  z-index: 1000;
  color: #fff;
  text-align: center; 
  font-size: 20px;
}
.loading div{
  width: 260px;
  height: 111px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 20px;
}
.loading div img{
  width: 100%;
  margin-bottom: 20px;
}
.video_wrap{
    overflow: hidden;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}
#video_intro_wrap{
  z-index: 100;
}
.video_item{
  position: absolute;

  top: 50%; left: 50%;
  transform: translate(-50%, -50%);

  object-fit: cover;
  height: 100%; width: 100%;
}
.content {
  position: relative;
}
.content .nav_wrap{
  position: absolute;
  right: 40px;
  top: 50%;
  width: 150px;
  height: 480px;
  margin-top: -240px;
  z-index: 100;
}
.nav_wrap .nav{
  list-style: none;
}
.nav_wrap .nav .nav_item{
  font-family: JDJZONGYI;
  height: 38px;
  line-height: 38px;
  font-size: 18px;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  font-weight: bolder;
  color: #87e9ff;
  margin: 10px 0;
  cursor: pointer;
}
.nav_wrap .nav .nav_item.current{
  color: #fff;
  border: 1px #84f4ff solid;
  background: rgba(0, 103, 165, 0.3);
}
.download_wrap{
  width: 100%;
  padding-top: 10px;
}
.download_wrap>div{
  margin-bottom: 10px;
}
.download_wrap .dowanload_btn{
  height: 38px;
  line-height: 38px;
  border-radius: 4px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 15px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.download_wrap .dowanload_btn .app_icon{
  display: inline-block;
  width: 18px;
  height: 22px;
  margin-right: 10px;
}
.download_wrap .ios{
  background: #000;
}
.download_wrap .ios .app_icon{
  background: url(../image/ios_icon.png);
  background-size: cover;
}
.download_wrap .android{
  background: #5dad0e;
}
.download_wrap .android .app_icon{
  background: url(../image/android_icon.png);
  background-size: cover;
}
.download_wrap .taptap{
  background: #12b9c7;
}
.download_wrap .taptap .app_icon{
  width: 80px;
  height: 21px;
  background: url(../image/tap_icon.png);
  background-size: cover;
  margin-right: 0;
}
.qrocde{
  text-align: center;
  padding: 14px 20px;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  font-size: 15px;
  font-weight: bolder;
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.09) inset,  0px 0px 2px 2px rgba(0, 0, 0, 0.15);
}
.qrocde img{
  width: 110px;
  margin-top: 15px;
}
.content .about_btn{
  position: absolute;
  width: 171px;
  height: 47px;
  background: url(../image/about_btn.png);
  background-size: cover;
  bottom: 40px;
  left: 40px;
  z-index: 100;
  cursor: pointer;
}
.content .page_wrap{
  height: 100%;
}
.page{
  position: relative;
}
.page .page_content{
  height: 100%;
  overflow: hidden;
}
.page1{
  /*display: none;*/
}
.page1 .logo{
  /*display: none;*/
  width: 36%;
  position: absolute;
  left: 12%;
  /*top: -40px;*/
}
.page1 .logo img{
  width: 100%;
}
.page1 .page_content{
  height: 100%;
}
.page2 .page_content{
  
}
.page_content .page_title{
  width: 267px;
  height: 36px;
  margin: 0 auto;
  position: absolute;
  top: 46px;
  left: 50%;
  margin-left: -133px;
  z-index: 100;
}
.page_content .page_title img{
  width: 100%;
}
.page_content .hero_head_wrap{
  position: absolute;
  background: url(../image/hero_bottom.png) center bottom no-repeat;
  width: 565px;
  height: 100px;
  bottom: -8px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  /*margin-left: -283px;*/
  z-index: 100;
}
.page_content .hero_head{
  position: absolute;
  width: 444px;
  height: 90px;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%);
  /*margin-left: -230px;*/
  padding-top: 18px;
  padding-right: 24px;
}
.hero_head_list{
  /*list-style: none;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*margin-top: 8px;*/
}
.hero_head_list .head_item{
  width: 56px;
  height: 56px;
}
.hero_avtor{
  height: 100%;
  box-sizing: border-box;
  border: 2px #7eeeff solid;
  border-radius: 4px;
  background: #2e4c79;
  /*width: 56px;
  height: 56px;*/
  /*transition: all 1000ms ease 0s;*/
}
.hero_avtor img{
  height: 100%;
}
.hero_head_list .head_item.swiper-slide-active{
  margin-top: -24px;
  width: 86px;
  height: 102px;
}
.hero_head_list .head_item.swiper-slide-active .hero_avtor{
  background: url(../image/head_center.png) center no-repeat;
  background-size: contain;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /*margin-left: -15px;*/
}
.hero_head_list .head_item.swiper-slide-active .hero_avtor img{
  height: 66px;
  border: 2px #7eeeff solid;
  border-radius: 4px;
}
.page2 .page_content .hero_list{
  width: 100%;
  height: 100%;
}
.page2 .page_content .hero_list .hero_box{
  height: 100%;
}
.page2 .page_content .hero_list .hero_box .hero_item{
  height: 100%;
  position: relative;
}
.page2 .page_content .hero_list .hero_box .hero_item .hero_box{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 56%;
  bottom: 7%;
}
.page2 .page_content .hero_list .hero_box .hero_item img{
  width: 100%;
  position: absolute;
  bottom: 0;
}
.page2 .page_content .hero_list .hero_box .hero_item .play_btn{
  position: absolute;
  width: 80px;
  right: 6%;
  bottom: 8%;
}
.page2 .page_content .hero_list .hero_1{
  height: 100%;
  background: url('../image/heros/bg1.jpg');
  background-size: cover;
  background-position: bottom center;
}
.page2 .page_content .hero_list .hero_2{
  height: 100%;
  background: url('../image/heros/bg2.jpg');
  background-size: cover;
  background-position: bottom center;
}
.page3 .page_content{
  height: 100%;
  background: url('../image/tese_bg.jpg');
  background-size: cover;
  background-position: bottom center;
}

.game_feature{
  width: 800px;
  height: 450px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 6px rgba(255,255,255,0.23) solid;
  border-radius: 14px;
}
.game_feature .game_box{
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.game_feature .game_box img{
  width: 100%;

}
.game_feature .game_pagination{
  bottom: -36px;
}

.game_feature .game_pagination .swiper-pagination-bullet{
  width: 16px;
  height: 16px;
  background: url(../image/page.png) center no-repeat;
  background-size: contain;
  opacity: 1;
  margin: 0 8px;
}
.game_feature .game_pagination .swiper-pagination-bullet-active{
  background: url(../image/page_active.png) center no-repeat;
  background-size: contain;
}
.about_modal{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  z-index: 1000;
}
#homePlay{
  position: absolute;
  left: 30%;
  width: 160px;
  height: 160px;
  z-index: 10000;
  bottom: -76px;
}

.about_modal .about_bg{
  width: 100%;
  height: 398px;
  background: #3b5774 url(../image/modal_bg.png) center no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.about_bg .close_modal{
  width: 3%;
  position: absolute;
  left: 50%;
  bottom: -16%;
  transform: translate(-50%);
  cursor: pointer;
}
.about_bg .close_modal img{
  width: 100%;
}
.about_bg .title{
  color: #51e4ff;
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.about_bg .title_en{
  color: #96bdc8;
  font-size: 18px;
  text-align: center;
}
.contact{
  width: 500px;
  margin: 0 auto;
  margin-top: 20px;
  overflow: hidden;
}
.contact_item{
  width: 210px;
  height: 240px;
  float: left;
  padding: 10px;
  background: rgba(255,255,255,0.1); 
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.15);
}
.contact_item img{
  width: 210px;
}
.contact_item .tip{
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  color: #96bdc8;
}
.contact_item .label{
  text-align: center;
  color: #9be9ff;
  font-size: 16px;
}
.contact_item .value{
  font-size: 22px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  padding: 4px 10px;
  background: #12b9c7;
  color: #fff;
  margin-top: 6px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.contact_item.group{
  float: right;
  width: 190px;
  height: 200px;
  padding: 50px 20px 10px 20px;
}
.contact_item.group .tip{
  margin-top: 50px;
}



