/*********************css reset*********************/
*{
  margin: 0;
  padding: 0;
}

html, .content, .page, .page_box {
  width: 100%;
  height: 100%;
}

body {
  font-family: JDJZONGYI, Helvetica, 'STXihei', 'STHeiti Light', sans-serif;
  line-height: 1;
  height: 100%;
}
#hero_particle {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-filter: blur(1px);
          filter: blur(1px);
top: 0;
left: 0;
z-index: 90;
}
.loading{
  /*display: none;*/
  position: fixed;
  height: 100%;
  width: 100%;
  background: #174559;
  z-index: 1000;
  color: #fff;
  text-align: center; 
  font-size: 20px;
}
.arrow_wrap{
  position: absolute;
  bottom: 0.1rem;
  left: 50%;
  font-size: 0.16rem;
  color: #fff;
  transform: translate(-50%);
  z-index: 500;
}
.arrow{
  position: absolute;
    display: block;
    width: 1.38rem;
    height: 0.95rem;
    animation: next 2s infinite;
    transform: translate(-50%) scale(0.5);
    left: 50%;
}
@keyframes next {
    0% {
        opacity: 1;
        bottom: 0.2rem;
    }
    100% {
        opacity: 0;
        bottom: -0.1rem;
    }
}
.copyright{
  position: absolute;
    font-size: 0.16rem;
    text-align: center;
    color: #fff;
    width: 100%;
    bottom: 0.08rem;
    line-height: 0.2rem;
}
.copyright a{
  color: #fff;
  text-decoration: none;
}
.loading div{
  width: 260px;
  height: 111px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 20px;
}
.loading div img{
  width: 100%;
  margin-bottom: 20px;
}
.audio_box{
  display: none;
}
.video_modal{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
}
.video_modal .video_box{
  position: absolute;
  width: 12.8rem;
  height: 7.2rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.video_modal .video_box .game_video{
  width: 100%;
  height: 100%;
}
.video_modal .video_box .close_video{
  width: 0.38rem;
  height: 0.38rem;
  position: absolute;
  right: -0.6rem;
  top: -0.19rem;
  cursor: pointer;
}
.video_modal .close_video img{
  display: block;
  width: 100%;
}
.video_wrap{
    overflow: hidden;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}
#video_intro_wrap{
  z-index: 100;
}
.video_item{
  position: absolute;

  top: 50%; left: 50%;
  transform: translate(-50%, -50%);

  object-fit: cover;
  height: 100%; width: 100%;
}
.content {
  position: relative;
  background: #174559;
  min-width: 1000px;
}
.content .nav_wrap{
  position: absolute;
  right: 40px;
  top: 50%;
  width: 2rem;
  /*height: 6.14rem;*/
  transform: translate(0, -50%);
  /*margin-top: -240px;*/
  z-index: 100;
}
.nav_wrap .nav{
  /*display: none;*/
  list-style: none;
}
.nav_wrap .nav .nav_item{
  font-family: JDJZONGYI;
  height: 0.45rem;
  line-height: 0.45rem;
  font-size: 0.2rem;
  border-radius: .04rem;
  text-align: center;
  color: #fff;
  font-weight: bolder;
  color: #87e9ff;
  margin: 0.1rem 0;
  cursor: pointer;
}
.nav_wrap .nav .nav_item.current{
  color: #fff;
  border: 1px #84f4ff solid;
  background: rgba(0, 103, 165, 0.3);
}
.download_wrap{
  width: 100%;
  padding-top: 0.1rem;
}
.download_wrap>div{
  margin-bottom: 0.1rem;
}
.download_wrap .dowanload_btn{
  height: 0.44rem;
  line-height: 0.44rem;
  border-radius: 4px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 0.18rem;
  font-weight: bolder;
}

.download_wrap .dowanload_btn a{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
.download_wrap .dowanload_btn .app_icon{
  display: inline-block;
  width: 0.28rem;
  height: 0.32rem;
  margin-right: 0.27rem;
}

.download_wrap .ios{
  background: #000;
}
.download_wrap .ios .app_icon{
  background: url(https://imgs.it2048.cn/nsg/pc/image/ios_icon.png);
  background-size: cover;
  width: 0.24rem;
  height: 0.29rem;
}
.download_wrap .android{
  background: #5dad0e;
}
.download_wrap .android .app_icon{
  background: url(https://imgs.it2048.cn/nsg/pc/image/android_icon.png);
  background-size: cover;
}
.download_wrap .taptap{
  background: #12b9c7;
}
.download_wrap .taptap .app_icon{
  width: 0.99rem;
  height: 0.27rem;
  background: url(https://imgs.it2048.cn/nsg/pc/image/tap_icon.png);
  background-size: cover;
  margin-right: 0;
}
.qrocde{
  text-align: center;
  padding: 0.14rem 0.2rem;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  font-size: 15px;
  font-weight: bolder;
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.09) inset,  0px 0px 2px 2px rgba(0, 0, 0, 0.15);
}
.qrocde span{
  font-size: 0.18rem;
  display: block;
  text-align: center;
}
.qrocde img{
  width: 1.6rem;
  margin-top: 0.15rem;
}
.content .about_btn{
  position: absolute;
  width: 2.54rem;
  height: 0.74rem;
  background: url(https://imgs.it2048.cn/nsg/pc/image/about_btn.png);
  background-size: contain;
  bottom: 0.33rem;
  left: 0.36rem;
  z-index: 100;
  cursor: pointer;
}
.content .page_wrap{
  height: 100%;
}
.page{
  position: relative;
}
.page .page_content{
  height: 100%;
  overflow: hidden;
}
.page1{
  /*display: none;*/
}
.logo{
  width: 10.07rem;
  height: 5.71rem;
  position: absolute;
  left: -0.4rem;
  top: -2.4rem;
  z-index: 300;
}
.logo img{
  width: 100%;
}
.page1 .page_content{
  height: 100%;
}
.page2 .page_content{
  
}
.page_content .page_title{
  width: 3.74rem;
  height: 0.54rem;
  margin: 0 auto;
  position: absolute;
  top: 0.34rem;
  left: 50%;
  transform: translate(-50%);
  z-index: 100;
}
.page_content .page_title img{
  display: block;
  width: 100%;
}
.page_content .hero_head_wrap{
  position: absolute;
  background: url(https://imgs.it2048.cn/nsg/pc/image/hero_bottom.png) center bottom no-repeat;
  background-size: contain;
  width: 7.78rem;
  height: 1rem;
  bottom: -0.1rem;
  left: 50%;
  transform: translate(-50%);
  text-align: center;

  z-index: 100;
}
.page_content .hero_head{
  position: absolute;
  width: 5.4rem;
  height: 1.2rem;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%);
  /*padding-top: 0.2rem;*/
  bottom: 0.2rem;
}
.hero_head_list{
  width: 5.74rem;
  height: 0.9rem;
  /*list-style: none;*/
  /*display: flex;*/
  /*justify-content: center;*/
  margin-top: 0.26rem;
}
.hero_head_list .head_item{
  width: 0.74rem;
  height: 0.74rem;
  /*margin-right: 0.5rem !important;*/
}
.hero_avtor{
  height: 100%;
  box-sizing: border-box;
  border-radius: 0.04rem;
  background: #2e4c79;
  box-sizing: border-box;
  /*width: 56px;
  height: 56px;*/
  /*transition: all 1000ms ease 0s;*/
}
.hero_avtor img{
  display: block;
  height: 100%;
  border: 0.02rem #7eeeff solid;
  box-sizing: border-box;
}
.hero_head_list .head_item.swiper-slide-active{

}
.hero_head_list .head_item.swiper-slide-active .hero_avtor{
  width: 1.08rem;
  height: 1.14rem;
  position: absolute;
  left: 50%;
  top: -0.2rem;
  transform: translate(-50%);
  background: url(https://imgs.it2048.cn/nsg/pc/image/head_center.png) center no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_head_list .head_item.swiper-slide-active .hero_avtor img{
  width: 0.96rem;
  height: 0.96rem;
}
/*.hero_head_list .head_item.swiper-slide-active .hero_avtor{
  margin-top: -0.24rem;
  width: 0.86rem;
  height: 1.02rem;
  margin-left: -0.15rem;
  background: url(https://imgs.it2048.cn/nsg/pc/image/head_center.png) center no-repeat;
  background-size: contain;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_head_list .head_item.swiper-slide-active .hero_avtor img{
  height: 0.6rem;
  border: 0.02rem #7eeeff solid;
  border-radius: 0.04rem;
}*/
.page2 .page_content .hero_list{
  width: 100%;
  height: 100%;
}
.page2 .page_content .hero_list .hero_box{
  height: 100%;
}
.page2 .page_content .hero_list .hero_box .hero_item{
  height: 100%;
  position: relative;
}
.page2 .page_content .hero_list .hero_box .hero_item .hero_box_item{
  position: absolute;
  /*left: 50%;
  transform: translate(-50%);
  width: 56%;
  height: 100%;
  bottom: 4%;*/
  width: 11rem;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  transform-origin: center bottom;
}
.page2 .page_content .hero_list .hero_box .hero_item img{
 /* width: 100%;
  position: absolute;
  bottom: 0;*/
}
.page2 .page_content .hero_list .hero_box .hero_item .play_btn{
  position: absolute;
  width: 80px;
  right: 6%;
  bottom: 8%;
}
.page2 .page_content .hero_list .hero_1{
  height: 100%;
  /*background: url('https://imgs.it2048.cn/nsg/pc/image/heros/bg1.jpg') no-repeat;*/
  background: url('https://imgs.it2048.cn/nsg/pc/image/heros/bg1.jpg') no-repeat;
  background-size: cover;
  background-position: center bottom;
}
.page2 .page_content .hero_list .hero_2{
  height: 100%;
  background: url('https://imgs.it2048.cn/nsg/pc/image/heros/bg2.jpg') no-repeat;
  background-size: cover;
  background-position: center bottom;
}
.page2 .page_content .hero_list .hero_3{
  height: 100%;
  background: url('https://imgs.it2048.cn/nsg/pc/image/heros/bg3.jpg') no-repeat;
  background-size: cover;
  background-position: center bottom;
}
.page2 .page_content .hero_list .hero_4{
  height: 100%;
  background: url('https://imgs.it2048.cn/nsg/pc/image/heros/bg4.jpg') no-repeat;
  background-size: cover;
  background-position: center bottom;
}
.page3 .page_content{
  height: 100%;
  background: url('https://imgs.it2048.cn/nsg/pc/image/tese_bg.jpg');
  background-size: cover;
  background-position: center bottom;
}

.game_feature{
  width: 12.12rem;
  height: 6.81rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 6px rgba(255,255,255,0.23) solid;
  border-radius: 14px;
}
.game_feature .game_box{
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.game_feature .game_box img{
  width: 100%;

}
.game_feature .game_pagination{
  font-size: 0.24rem;
  bottom: -0.56rem !important;
}

.game_feature .game_pagination .swiper-pagination-bullet{
  width: 0.24rem;
  height: 0.24rem;
  background: url(https://imgs.it2048.cn/nsg/pc/image/page.png) center no-repeat;
  background-size: contain;
  opacity: 1;
  margin: 0 0.08rem;
}
.game_feature .game_pagination .swiper-pagination-bullet-active{
  background: url(https://imgs.it2048.cn/nsg/pc/image/page_active.png) center no-repeat;
  background-size: contain;
}
.about_modal{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  z-index: 1000;
}
.playvideo_btn{
  position: absolute;
  left: 50%;
  width: 2rem;
  height: 2rem;
  z-index: 400;
  transform: translate(-50%);
  top: 1.2rem;
  cursor: pointer;
}
.herovideo_btn{
  position: absolute;
  width: 2rem;
  height: 2rem;
  z-index: 10;
  bottom: 0;
  right: 0.2rem;
  cursor: pointer;
}
.hero_play{
  position: absolute;
  z-index: 10;
}
#hero_0{
  width: 8rem;
  height: 8.16rem;
  bottom: 0.59rem;
  left: -0.4rem;
  background: url(https://imgs.it2048.cn/nsg/pc/image/heroimage/hero0.png) center no-repeat;
  background-size: contain;
}
#hero_1{
  width: 8rem;
  height: 8.56rem;
  bottom: 0.46rem;
  left: 0rem;
  background: url(https://imgs.it2048.cn/nsg/pc/image/heroimage/hero1.png) center no-repeat;
  background-size: contain;
}
#hero_2{
  width: 8.51rem;
  height: 8.06rem;
  left: -1.4rem;
  bottom: 0.46rem;
  background: url(https://imgs.it2048.cn/nsg/pc/image/heroimage/hero2.png) center no-repeat;
  background-size: contain;
}
#hero_3{
  width: 10.31rem;
  height: 8.86rem;
  left: -1.6rem;
  bottom: 0.49rem;
  background: url(https://imgs.it2048.cn/nsg/pc/image/heroimage/hero3.png) center no-repeat;
  background-size: contain;
}
.hero_des{
  position: absolute;
  width: 7.52rem;
  height: 7.38rem;
  bottom: 1.18rem;
  right: 0;
}
.hero_play, .hero_des{
  transform-origin: center bottom;
}


.hero_des img{
  width: 100%;
  height: 100%;
}
#wuzang{
  position: absolute;
  width: 70%;
  bottom: 0;
}

.about_modal .about_bg{
  font-family: JDJZONGYI;
  width: 100%;
  height: 5.09rem;
  background: #3b5774 url(https://imgs.it2048.cn/nsg/pc/image/modal_bg.png) center no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.about_bg .close_modal{
  width: 0.38rem;
  height: 0.38rem;
  position: absolute;
  left: 50%;
  bottom: -0.6rem;
  transform: translate(-50%);
  cursor: pointer;
}
.about_bg .close_modal img{
  display: block;
  width: 100%;
}
.about_bg .title{
  color: #51e4ff;
  font-size: 0.5rem;
  text-align: center;
  margin-top: 0.4rem;
  margin-bottom: 0.1rem;
  font-weight: bolder;
  letter-spacing: 0.06rem;
}

.about_bg .title_en{
  color: #96bdc8;
  font-size: 19px;
  text-align: center;
}
.contact{
  width: 5.8rem;
  margin: 0 auto;
  margin-top: 0.33rem;
  overflow: hidden;
}
.contact_item{
  width: 2.8rem;
  height: 3.1rem;
  float: left;
  padding: 0.15rem;
  background: rgba(255,255,255,0.1); 
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}
.contact_item .qr{
  width: 2.5rem;
  height: 2.5rem;
}
.contact_item img{
  width: 100%;
  height: 100%;
}
.contact_item .tip{
  text-align: center;
  font-size: 0.24rem;
  margin-top: 0.1rem;
  color: #96bdc8;
}
.contact_item .label{
  text-align: center;
  color: #9be9ff;
  font-size: 0.18rem;
}
.contact_item .value{
  font-size: 0.34rem;
  height: 0.45rem;
  text-align: center;
  line-height: 0.45rem;
  text-align: center;
  background: #12b9c7;
  color: #fff;
  margin-top: 0.06rem;
  margin-bottom: 0.28rem;
  border-radius: 5px;
}
.contact_item.group{
  float: right;
  padding: 0 0.22rem;
  padding-top: 0.5rem;
}
.contact_item.group .tip{
  margin-top: 0.6rem;
}



